body{
	text-align: center;
}
/*Блок с оценкой - главный*/
div.main{
	margin-bottom: 40px;
}
p.rateDay{
	font-size: 30px;
	color: #1ad6c0;
}
ul.ratingValuesList{
	margin: 0;
}
ul.ratingValuesList li{
	display: inline-block;
}
ul.ratingValuesList li button{
	font-size: 25px;
}
ul.ratingValuesList li:nth-child(n) button{
	color: red;
}
ul.ratingValuesList li:nth-child(2n) button{
	color: #e0412f;
}
ul.ratingValuesList li:nth-child(3n) button{
	color: #c9574b;
}
ul.ratingValuesList li:nth-child(4n) button{
	color: #d98d84;
}
ul.ratingValuesList li:nth-child(5n) button{
	color: #338f8a;
}
ul.ratingValuesList li:nth-child(6n) button{
	color: #4bd1ca;
}
ul.ratingValuesList li:nth-child(7n) button{
	color: #78fff8;
}
ul.ratingValuesList li:nth-child(8n) button{
	color: #66e379;
}
ul.ratingValuesList li:nth-child(9n) button{
	color: #1aba32;
}
ul.ratingValuesList li:nth-child(10n) button{
	color: white;
}
div.flex{
	text-align: center;
	display: flex;
	justify-content: center;
}

button.getMark{
	animation: onClick 0.25s forwards;
}

@keyframes onClick{
	0%{transform: scale(1);}
	100%{
		transform: scale(0.85);
		color: #FEC92A;
	}
}

/*Блок с оценками прошедших дней */
div.ratingOfDays{
	text-align: left;
}
div.ratingOfDays ul{
	font-size: 25px;
}

span.rate{
	color: #e08824;
}

/* Ниже код для радужного мигания */
.rainbow {
	-webkit-animation:rainbow 1s infinite;
	-ms-animation:rainbow 1s infinite;
	-o-animation:rainbow 1s infinite;
	animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}
@keyframes rainbow {
	0% {color: #ff0000;}
	10% {color: #ff8000;}
	20% {color: #ffff00;}
	30% {color: #80ff00;}
	40% {color: #00ff00;}
	50% {color: #00ff80;}
	60% {color: #00ffff;}
	70% {color: #0080ff;}
	80% {color: #0000ff;}
	90% {color: #8000ff;}
	100% {color: #ff0080;}
}